/2nd Deliverable/ipos-pu/frontend/src/JavaApplication/nbproject/private/
/2nd Deliverable/ipos-pu/frontend/src/JavaApplication/build/
/2nd Deliverable/ipos-pu/frontend/src/JavaApplication/dist/
/2nd Deliverable/ipos-pu/backend/src/main/resources/config.properties
